<h1>Listing members</h1>


<%= grid(@members) do |g|

  g.column do |member|
    member.id
  end

  g.column  do |member|
    member.name
  end
	
  g.column  do |member|
    member.address
  end

end -%>



<br />

<%= link_to 'New Member', new_member_path %>
